body {
    background-color: rgb(255, 255, 255);
}

#toggle-theme {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

#toggle-theme:hover {
    background-color: #555;
}
  
.container {
    position: relative;
}

h1, h5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-left: 10px;
    font-family: 'Tourney', cursive;
    font-size: 6rem;
    margin: ce;
    color: black;
}

h5 {
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}
#todo-input {
    margin-top: 5px;
    margin-left: 10px;
}

#todo-list {
    list-style: none;
    margin-left: 0px;
    padding-left: 10px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#todo-item {
    width: 300px;
}

button {
    margin-left: 5px;
    margin-top: 5px;
    font-family: "Montserrat", sans-serif;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgb(153, 25, 208);
}

input {
    margin-right: 5px;
    font-family: "Montserrat", sans-serif;
}

#progress-bar {
    text-align: center;
    height: 2rem;
    width: 100%;
}